<table align="left">
  <td>
<a href="https://colab.research.google.com/github/marco-canas/7_didactica_ciencia_datos/blob/main/propuesta/unidad_didac/0_python/2_estructuras_datos/5_dataframe/1_como_crear_un_archivo_csv.ipynb?authuser=1" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
 </td>
</table>

## [Video de apoyo a la practica interactiva, experimental y guiada de este cuaderno](https://www.youtube.com/watch?v=C95nolAdc-A)

# 1 Estadistica Archivo .csv

¿Cómo puedes crear un archivo de extensión .csv utilizando el block de notas?

¿Cómo puedes crear un archivo de extensión .csv utilizando excel?

In [17]:
import pandas as pd

In [18]:
tabla_estudiantes = pd.read_csv("miprimer_csv_file.csv")

In [19]:
type(tabla_estudiantes)

pandas.core.frame.DataFrame

In [20]:
tabla_estudiantes

  estudiante  edad  estatura
0       juan    21       1.5
1     melisa    19       1.6
2   fernando    25       1.7

In [21]:
tabla_estudiantes.estudiante

0        juan
1      melisa
2    fernando
Name: estudiante, dtype: object

In [22]:
tabla_estudiantes.edad

0    21
1    19
2    25
Name: edad, dtype: int64

In [23]:
tabla_estudiantes.keys()

Index(['estudiante', 'edad', 'estatura'], dtype='object')

In [25]:
tabla_estudiantes['estatura']

0    1.5
1    1.6
2    1.7
Name: estatura, dtype: float64

In [26]:
tabla_estudiantes.estatura

0    1.5
1    1.6
2    1.7
Name: estatura, dtype: float64

In [29]:
tabla_estudiantes_2 = pd.read_csv('mi_segundo_csv_file.csv', sep = ';')

In [30]:
tabla_estudiantes_2

  estudiante  edad  estatura
0       juan    10       1.0
1     felipe    20       1.5
2      jorge    30       1.8