<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/7_didactica_ciencia_datos/blob/main/1_propuesta/unidad_didac/0_python/2_estructuras_datos/2_tuplas/1_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

## [Video de apoyo a la lectura interactiva y experimental de este cuaderno](https://www.youtube.com/watch?v=q0diFoXigA4)

## Repaso  

* Datos: los datos son información:
  -  `str`: nombres de las personas.
  - `int`: edad, cantidad de estudiantes en el salon de clase. 
  - `float`: estatura, peso.
   
  - booleano: `True`, `False`
* Estructuras de datos
  - listas

## [Vínculo al programa del curso:  ](https://github.com/marco-canas/7_didactica_ciencia_datos/blob/main/1_propuesta/prop_invest/cartilla/cartilla.ipynb)

* Todos los profesores debemos proponer objetivos de formación
* Propuesta de evaluación 
* Y propuesta de metodología
* Y propuesta de bibliografía.

Un reconocimiento a mis estudiantes que han construido conmigo este saber pedagógico:

<img src = 'https://github.com/marco-canas/7_didactica_ciencia_datos/blob/main/4_images/ji_2.jpg?raw=true'> 

Especialmente, quiero reconocer a la estudiante Janis Zuñiga, por su incansable trabajo de discusión para la consolidación de saber en ciencia de datos.

# Llamado aleatorio a lista y valoración de participación

In [4]:
# Llamar a lista o tomar asistencia con 
# python o llamar el equipo para la tarea con video y cuaderno 
# Jupyter sobre medición indirecta de grandes alturas con imágenes
def crear_lista_estudiantes(ubicacion_lista):
    """
    """
    import pandas as pd     
    grupo_df = pd.read_csv(ubicacion_lista) 
    # cuando el .csv file proviene de un .xlsx file, debe utilizarse sep = ';'
    lista_estudiantes = list(grupo_df.nombre.values)
    return lista_estudiantes

In [5]:
#llamar a lista o tomar registro de asistencia a clase
def llamar_estudiantes_a_participar():
    import numpy as np 
    from random import choice
    if len(lista_estudiantes) != 0:
        estudiante = choice(lista_estudiantes)
        lista_estudiantes.remove(estudiante)
        return print(estudiante)
    else:
        print('Todos los estudiantes han participado.\n \
               Muchas gracias y Felicitaciones')

In [6]:
ubicacion_lista='https://raw.githubusercontent.com/marco-canas/groups_list/main/jovenes_investigadores_biologia.csv'
lista_estudiantes = crear_lista_estudiantes(ubicacion_lista)

In [7]:
llamar_estudiantes_a_participar()

yalidys

# Modelo general de clase: [aprendizaje invertido](https://www3.gobiernodecanarias.org/medusa/ecoescuela/pedagotic/aprendizaje-invertido-flipped-classroom/)

# Tuple

Las tuplas son también una estructura de datos que a diferencia de las listas, una vez creadas no pueden ser modificadas.

A tuple is a fixed-length, immutable sequence of Python objects.

The easiest way to create one is with a comma-separated sequence of values:

In [10]:
tup = 4,5,6
tup

(4, 5, 6)

When you’re defining tuples in more complicated expressions, it’s often necessary to enclose the values in parentheses, as in this example of creating a tuple of tuples:

In [11]:
nested_tup = (4,5,6), (7,8)
nested_tup

((4, 5, 6), (7, 8))

You can convert any sequence or iterator to a tuple by invoking tuple:

In [12]:
tuple([1,2,3])

(1, 2, 3)

In [13]:
tup = tuple('string')

In [14]:
tup

('s', 't', 'r', 'i', 'n', 'g')

Elements can be accessed with square brackets `[]` as with most other sequence types.
As in C, C++, Java, and many other languages, sequences are 0-indexed in Python:

In [12]:
tup = tuple('marco')
tup[0]

'm'

While the objects stored in a tuple may be mutable themselves, once the tuple is created it’s not possible to modify which object is stored in each slot:

In [16]:
tup = tuple(['foo', [1,2], True]) 
tup

('foo', [1, 2], True)

In [18]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

If an object inside a tuple is mutable, such as a list, you can modify it in-place:

In [19]:
tup[1].append(3)

In [20]:
tup

('foo', [1, 2, 3], True)

You can concatenate tuples using the $+$ operator to produce longer tuples:

In [21]:
(4, None, 'foo')+(6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

Multiplying a tuple by an integer, as with lists, has the effect of concatenating together
that many copies of the tuple:

In [22]:
('foo', 'bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

Note that the objects themselves are not copied, only the references to them.

# Unpacking tuples

If you try to assign to a tuple-like expression of variables, Python will attempt to
unpack the value on the righthand side of the equals sign:

In [23]:
tup = (1,2,3)
a,b,c = tup

In [24]:
a,b,c

(1, 2, 3)

Even sequences with nested tuples can be unpacked:

In [13]:
tup = 4,5,(6,7)
a,b,(c,d) = tup

In [26]:
d

7

Using this functionality you can easily swap variable names, a task which in many languages might look like:

In [28]:
tmp = a
a = b
b = tmp

But, in Python, the swap can be done like this:

In [29]:
a,b = 1,2

In [30]:
a

1

In [31]:
b = 2

In [32]:
a,b = b,a

In [33]:
a

2

In [34]:
b

1

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [15]:
seq = [(1,2,3), (4,5,6), (7,8,9)]

In [16]:
for a,b,c in seq:
    print('a={}, b={}, c={}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

Another common use is returning multiple values from a function. I’ll cover this in more detail later.

The Python language recently acquired some more advanced tuple unpacking to help with situations where you may want to “pluck” a few elements from the beginning of a tuple.

This uses the special syntax *rest, which is also used in function signatures to capture an arbitrarily long list of positional arguments:

In [37]:
values = 1, 2, 3, 4, 5

In [17]:
a, b, *rest = values

NameError: name 'values' is not defined

In [18]:
a, b

(7, 8)

In [19]:
rest

NameError: name 'rest' is not defined

In [ ]:
This rest bit is sometimes something you want to discard; there is nothing special
about the rest name. As a matter of convention, many Python programmers will use
the underscore (_) for unwanted variables:
In [33]: a, b, *_ = values

# Tuple methods
Since the size and contents of a tuple cannot be modified, it is very light on instance
methods. A particularly useful one (also available on lists) is count, which counts the
number of occurrences of a value:

...continue en la página 72 del PDF de West McKinney  


* [McKinney, W. (2012). Python for data analysis: Data wrangling with Pandas, NumPy, and IPython. " O'Reilly Media, Inc.".](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/EVbi5JIeBl9ErbiUnZfGe8YBhNTnZ8sxTK5hjIOPK4UpGw?e=CmiUne)

## Actividades de aprendizaje o fijación de los conceptos o actividades para después de la clase

1. Crea una lista de Python con los nombre de toda tu familia paterna incluyendo a los familiares de segundo grado de consanguinidad.
2. Crea una lista con las edades respectivas de todos los miembros de tu familia paterna.
3. crea una lista con todas las estaturas de los miembros de tu familia paterna.
4. Crea una lista con los pesos de cada uno de los miembros de la familia.
5. Crea una tupla con las listas anteriores.

## Solución

In [41]:
lista_nombres = ['tio_gerardo', 'prima_maria_isabel', 'tia_politica_amparo', 'abuala_maria_gabriela',\
                 'madrastra_yasmira', 'tio_victor', 'tia_yorlady', 'tio_juan_carlos', 'tia_politica_isabel',\
                 'padre_marco']

In [42]:
lista_edades = [70, 19, 69, 73, 44, 45, 32, 30,29, 47]

In [43]:
len(lista_nombres)==len(lista_edades)

True

In [48]:
lista_estaturas = [1.70, 1.69, 1.68, 1.60, 1.52, 1.66, 1.50, 1.70, 1.64, 1.65]

In [49]:
lista_pesos = [95, 70, 72, 75, 77, 78, 75, 78, 75, 82]

In [50]:
tupla_de_todos_las_listas = (lista_nombres, lista_edades, lista_estaturas, lista_pesos)

In [51]:
tupla_de_todos_las_listas

(['tio_gerardo',
  'prima_maria_isabel',
  'tia_politica_amparo',
  'abuala_maria_gabriela',
  'madrastra_yasmira',
  'tio_victor',
  'tia_yorlady',
  'tio_juan_carlos',
  'tia_politica_isabel',
  'padre_marco'],
 [70, 19, 69, 73, 44, 45, 32, 30, 29, 47],
 [1.7, 1.69, 1.68, 1.6, 1.52, 1.66, 1.5, 1.7, 1.64, 1.65],
 [95, 70, 72, 75, 77, 78, 75, 78, 75, 82])

## Actividades de evaluación

## Referencias

* Nicolas Shurmann: cursod e Python sin fronteras: https://www.udemy.com/course/python-sin-fronteras-html-css-mysql/

* [McKinney, W. (2012). Python for data analysis: Data wrangling with Pandas, NumPy, and IPython. " O'Reilly Media, Inc.".](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/EVbi5JIeBl9ErbiUnZfGe8YBhNTnZ8sxTK5hjIOPK4UpGw?e=CmiUne)

Continue su aprendizaje en esta aventura de introducción a la ciencia de datos [aquí](https://github.com/marco-canas/7_didactica_ciencia_datos/blob/main/1_propuesta/unidad_didac/0_python/2_estructuras_datos/3_diccionarios/1_dict.ipynb): donde encontrará la siguiente estructura de datos asociada a Python